In [1]:
import pandas as pd
import numpy as np

In [25]:
[x+d1_rows for x in list(range(d2_rows))]

[30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58]

In [41]:
data1 = pd.read_csv('~/105/105_ITC2_LL_day1.txt',sep="\t",header=None)
d1_rows = len(data1.index)
data1['cond'] = ['LL'] * d1_rows
indexed_d1 = data1

data2 = pd.read_csv('~/105/105_ITC2_SS_day1.txt',sep="\t",header=None)
d2_rows = len(data2.index)
data2['cond'] = ['SS'] * d2_rows
ind2 = [x+d1_rows for x in list(range(d2_rows))]
indexed_d2 = data2.set_index([ind2])

data3 = pd.read_csv('~/105/105_ITC2_Cont_day1.txt',sep="\t",header=None)
d3_rows = len(data3.index)
data3['cond'] = ['Cont'] * d3_rows
ind3 = [x+d1_rows+d2_rows for x in list(range(d3_rows))]
indexed_d3 = data3.set_index([ind3])
indexed_d3.head()

#data4 = pd.read_csv('~/Data/105/105_ITC2_CV_day1.txt',sep="\t",header=None)
#d4_rows = len(data4.index)
#data4['cond'] = ['CV'] * d4_rows
#ind4 = [x+d1_rows+d2_rows+d3_rows for x in list(range(d4_rows))]
#indexed_d4 = data4.set_index([ind3])
#indexed_d4.head()

        0      1  2  cond
59   7.21  1.364  1  Cont
60  41.70  1.529  1  Cont
61  48.06  1.526  1  Cont
62  62.00  1.261  1  Cont
63  68.90  1.211  1  Cont

In [56]:
frames = [indexed_d1, indexed_d2, indexed_d3]
EVs = pd.concat(frames)
len(EVs)
EVs['chunk'] = list(range(d1_rows)) + list(range(d2_rows)) + list(range(d3_rows))
EVs.columns = ['Time','Duration','Height','cond','chunk']

EVs = EVs.sort_values(['Time'])
blah = list(range(0,len(EVs)))
EVs = EVs.set_index([blah])
EVs

      Time  Duration  Height  cond  chunk
0     7.21     1.364       1  Cont      0
1    15.33     3.091       1    SS      0
2    21.59     1.785       1    LL      0
3    27.98     1.990       1    LL      1
4    34.55     1.649       1    LL      2
5    41.70     1.529       1  Cont      1
6    48.06     1.526       1  Cont      2
7    54.53     2.785       1    SS      1
8    62.00     1.261       1  Cont      3
9    68.90     1.211       1  Cont      4
10   80.46     1.285       1  Cont      5
11   87.31     1.239       1  Cont      6
12   93.67     2.126       1    SS      2
13  100.91     2.052       1    LL      3
14  107.16     2.458       1    LL      4
15  115.39     2.954       1    LL      5
16  122.24     2.926       1    SS      3
17  129.99     2.174       1    SS      4
18  136.07     1.741       1    LL      6
19  143.56     1.309       1  Cont      7
20  150.41     2.418       1    SS      5
21  158.39     2.625       1    SS      6
22  172.52     2.619       1    SS      7
23  186.95     2.077       1    LL      7
24  195.70     1.954       1    LL      8
25  205.84     2.192       1    SS      8
26  212.53     1.482       1    LL      9
27  218.76     2.108       1    LL     10
28  225.38     1.420       1    LL     11
29  234.36     2.677       1    SS      9
..     ...       ...     ...   ...    ...
49  392.60     2.055       1    SS     16
50  402.80     2.410       1    LL     17
51  409.18     2.113       1    LL     18
52  415.55     1.882       1    SS     17
53  422.86     1.908       1    LL     19
54  431.46     2.408       1    SS     18
55  443.95     2.082       1    SS     19
56  451.51     1.634       1    LL     20
57  466.25     2.455       1    LL     21
58  472.85     3.780       1    SS     20
59  481.78     2.970       1    SS     21
60  488.44     2.711       1  Cont     16
61  495.54     2.363       1    LL     22
62  501.68     1.488       1    LL     23
63  507.75     3.023       1    SS     22
64  515.96     1.770       1    SS     23
65  524.69     1.045       1    LL     24
66  534.25     2.284       1    SS     24
67  542.32     3.838       1    LL     25
68  553.82     2.897       1    SS     25
69  561.01     1.400       1  Cont     17
70  568.11     2.701       1  Cont     18
71  575.54     1.403       1    LL     26
72  592.03     2.115       1    LL     27
73  598.17     2.041       1    SS     26
74  604.50     1.330       1    LL     28
75  617.61     1.517       1  Cont     19
76  624.02     2.408       1    SS     27
77  633.68     2.994       1    SS     28
78  643.79     4.805       1    LL     29

[79 rows x 5 columns]

In [57]:
max(EVs['Time'])

643.78999999999996

In [78]:
#list(range(len(EVs)))

In [95]:
output = pd.DataFrame(index=range(0,327))
output["cond"] = "rest"
output["chunk"] = 0

for i in list(range(len(EVs))):
    j = i + 1
    thresh = len(EVs) - 1
    if EVs['cond'][i] == "SS":
        print("testing for SS")
        if i >= thresh:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end)
            df[df[['A']]<0] = 0
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "SS"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    output['cond'][output.index >= time] = "SS"
        #    output['chunk'][output.index >= time] = Chunk
        else:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end) 
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "SS"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    Chunk = EVs['chunk'][i]
        #    output['cond'][(output.index >= time) & (output.index < time)] = "SS"
        #    output['chunk'][(output.index >= time) & (output.index < time)] = Chunk
    if EVs['cond'][i] == "LL":
        print("testing for LL")
        if i >= thresh:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end)            
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "LL"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    Chunk = EVs['chunk'][i]
        #    output['cond'][output.index >= time] = "LL"
        #    output['chunk'][output.index >= time] = Chunk        
        else:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end)            
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "LL"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    Chunk = EVs['chunk'][i]
        #    output['cond'][(output.index >= time) & (output.index < time)] = "LL"
        #    output['chunk'][(output.index >= time) & (output.index < time)] = Chunk
    if EVs['cond'][i] == "Cont":
        print("testing for Cont")
        if i >= thresh:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end)            
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "Cont"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    Chunk = EVs['chunk'][i]
        #    output['cond'][output.index >= time] = "Cont"
        #    output['chunk'][output.index >= time] = Chunk        
        else:
            time = EVs['Time'][i] / float(2)
            time = np.floor(time)
            print(time)            
            end = EVs['Time'][i] / float(2) + EVs['Duration'][i] / float(2)
            end = np.floor(end) + 1
            print(end)            
            output.loc[(output.index >= time) & (output.index <= end), 'cond'] = "Cont"
            Chunk = EVs['chunk'][i]
            output.loc[(output.index >= time) & (output.index <= end), 'chunk'] = Chunk
        #    Chunk = EVs['chunk'][i]
        #    output['cond'][(output.index >= time) & (output.index < time)] = "Cont"
        #    output['chunk'][(output.index >= time) & (output.index < time)] = Chunk

testing for Cont
3.0
5.0
testing for SS
7.0
10.0
testing for LL
10.0
12.0
testing for LL
13.0
15.0
testing for LL
17.0
19.0
testing for Cont
20.0
22.0
testing for Cont
24.0
25.0
testing for SS
27.0
29.0
testing for Cont
31.0
32.0
testing for Cont
34.0
36.0
testing for Cont
40.0
41.0
testing for Cont
43.0
45.0
testing for SS
46.0
48.0
testing for LL
50.0
52.0
testing for LL
53.0
55.0
testing for LL
57.0
60.0
testing for SS
61.0
63.0
testing for SS
64.0
67.0
testing for LL
68.0
69.0
testing for Cont
71.0
73.0
testing for SS
75.0
77.0
testing for SS
79.0
81.0
testing for SS
86.0
88.0
testing for LL
93.0
95.0
testing for LL
97.0
99.0
testing for SS
102.0
105.0
testing for LL
106.0
108.0
testing for LL
109.0
111.0
testing for LL
112.0
114.0
testing for SS
117.0
119.0
testing for Cont
120.0
122.0
testing for Cont
123.0
125.0
testing for SS
127.0
129.0
testing for LL
130.0
132.0
testing for SS
133.0
136.0
testing for Cont
137.0
139.0
testing for LL
141.0
143.0
testing for SS
146.0
148.0
testing for Cont
151.0
153.0
testing for SS
158.0
160.0
testing for SS
161.0
163.0
testing for LL
164.0
166.0
testing for LL
169.0
171.0
testing for LL
172.0
174.0
testing for Cont
176.0
177.0
testing for Cont
181.0
183.0
testing for Cont
184.0
186.0
testing for Cont
188.0
189.0
testing for SS
191.0
193.0
testing for SS
196.0
198.0
testing for LL
201.0
203.0
testing for LL
204.0
206.0
testing for SS
207.0
209.0
testing for LL
211.0
213.0
testing for SS
215.0
217.0
testing for SS
221.0
224.0
testing for LL
225.0
227.0
testing for LL
233.0
235.0
testing for SS
236.0
239.0
testing for SS
240.0
243.0
testing for Cont
244.0
246.0
testing for LL
247.0
249.0
testing for LL
250.0
252.0
testing for SS
253.0
256.0
testing for SS
257.0
259.0
testing for LL
262.0
263.0
testing for SS
267.0
269.0
testing for LL
271.0
274.0
testing for SS
276.0
279.0
testing for Cont
280.0
282.0
testing for Cont
284.0
286.0
testing for LL
287.0
289.0
testing for LL
296.0
298.0
testing for SS
299.0
301.0
testing for LL
302.0
303.0
testing for Cont
308.0
310.0
testing for SS
312.0
314.0
testing for SS
316.0
319.0
testing for LL
321.0
325.0

In [94]:
output

     cond  chunk
0    rest      0
1    rest      0
2    rest      0
3    Cont      0
4    Cont      0
5    Cont      0
6    rest      0
7      SS      0
8      SS      0
9      SS      0
10     LL      0
11     LL      0
12     LL      0
13     LL      1
14     LL      1
15     LL      1
16     LL      1
17     LL      2
18     LL      2
19     LL      2
20   Cont      1
21   Cont      1
22   Cont      1
23   Cont      1
24   Cont      2
25   Cont      2
26   Cont      2
27     SS      1
28     SS      1
29     SS      1
..    ...    ...
297    LL     27
298    LL     27
299    SS     26
300    SS     26
301    SS     26
302    LL     28
303    LL     28
304    LL     28
305  rest      0
306  rest      0
307  rest      0
308  Cont     19
309  Cont     19
310  Cont     19
311  Cont     19
312    SS     27
313    SS     27
314    SS     27
315    SS     27
316    SS     28
317    SS     28
318    SS     28
319    SS     28
320    SS     28
321    LL     29
322    LL     29
323    LL     29
324    LL     29
325    LL     29
326    LL     29

[327 rows x 2 columns]

In [58]:
output = pd.DataFrame(index=range(0,327))
output["cond"] = "rest"
output["chunk"] = 3

for i in range(0,len(EVs)):
    j = i + 1
    thresh = len(EVs) - 1
    if EVs['cond'][i] == "SS":
        print("testing for SS")
        if i >= thresh:
            output['cond'][output.index >= EVs['Time'][i]/2] = "SS"
            output['chunk'][output.index >= EVs['Time'][i]/2] = EVs['chunk'][i]
        else:
            output['cond'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = "SS"
            output['chunk'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = EVs['chunk'][i]
    if EVs['cond'][i] == "LL":
        print("testing for LL")
        if i >= thresh:
            output['cond'][output.index >= EVs['Time'][i]/2] = "LL"
            output['chunk'][output.index >= EVs['Time'][i]/2] = EVs['chunk'][i]        
        else:
            output['cond'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = "LL"
            output['chunk'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = EVs['chunk'][i]
    if EVs['cond'][i] == "Cont":
        print("testing for Cont")
        if i >= thresh:
            output['cond'][output.index >= EVs['Time'][i]/2] = "Cont"
            output['chunk'][output.index >= EVs['Time'][i]/2] = EVs['chunk'][i]        
        else:
            output['cond'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = "Cont"
            output['chunk'][np.logical_and(output.index >= EVs['Time'][i]/2, output.index < EVs['Time'][j]/2)] = EVs['chunk'][i]

output
            #filename = "/Users/andrewmelrose/Documents/Paige_Lab/FoodCue_MVPA/evfiles_DAY2/Attributes.csv"
#output.to_csv(filename,sep="\t",index=False,header=False)

testing for Cont
testing for SS
testing for LL

//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

testing for LL
testing for LL
testing for Cont
testing for Cont
testing for SS
testing for Cont
testing for Cont
testing for Cont
testing for Cont
testing for SS
testing for LL
testing for LL
testing for LL
testing for SS
testing for SS
testing for LL
testing for Cont
testing for SS
testing for SS
testing for SS
testing for LL
testing for LL
testing for SS
testing for LL
testing for LL
testing for LL
testing for SS
testing for Cont
testing for Cont
testing for SS
testing for LL
testing for SS
testing for Cont
testing for LL
testing for SS
testing for Cont
testing for SS
testing for SS
testing for LL
testing for LL
testing for LL
testing for Cont
testing for Cont
testing for Cont
testing for Cont
testing for SS
testing for SS
testing for LL
testing for LL
testing for SS
testing for LL
testing for SS
testing for SS
testing for LL
testing for LL
testing for SS
testing for SS
testing for Cont
testing for LL
testing for LL
testing for SS
testing for SS
testing for LL
testing for SS
testing for LL
testing for SS
testing for Cont
testing for Cont
testing for LL
testing for LL
testing for SS
testing for LL
testing for Cont
testing for SS
testing for SS
testing for LL

//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     cond  chunk
0    rest      3
1    rest      3
2    rest      3
3    rest      3
4    Cont      0
5    Cont      0
6    Cont      0
7    Cont      0
8      SS      0
9      SS      0
10     SS      0
11     LL      0
12     LL      0
13     LL      0
14     LL      1
15     LL      1
16     LL      1
17     LL      1
18     LL      2
19     LL      2
20     LL      2
21   Cont      1
22   Cont      1
23   Cont      1
24   Cont      1
25   Cont      2
26   Cont      2
27   Cont      2
28     SS      1
29     SS      1
..    ...    ...
297    LL     27
298    LL     27
299    LL     27
300    SS     26
301    SS     26
302    SS     26
303    LL     28
304    LL     28
305    LL     28
306    LL     28
307    LL     28
308    LL     28
309  Cont     19
310  Cont     19
311  Cont     19
312  Cont     19
313    SS     27
314    SS     27
315    SS     27
316    SS     27
317    SS     28
318    SS     28
319    SS     28
320    SS     28
321    SS     28
322    LL     29
323    LL     29
324    LL     29
325    LL     29
326    LL     29

[327 rows x 2 columns]